* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    align-items: center;
    background: linear-gradient( 89.2deg,  rgb(182, 178, 178) -1.3%, rgba(253,109,38,1) 281.6% );
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    margin: 40px;
}

.major{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.head{
    text-align: center;
    margin-top: 20px;
}

.pink{
    background-color: rgb(227, 105, 125);
}

.green{
    background-color: rgb(46, 209, 46);
}

.blue{
    background-color: rgb(62, 62, 241);
}

.yellow{
    background-color: rgb(226, 226, 26);
}


.flash {
    background-color: white;
}